
[data-theme="light"],
[data-theme="solar"] {
    --rgba-white-04: rgba(0, 0, 0, 0.04);
    --rgba-white-02: rgba(0, 0, 0, 0.02);
    --rgba-white-06: rgba(0, 0, 0, 0.06);
    --rgba-white-015: rgba(0, 0, 0, 0.015);
    --rgba-white-025: rgba(0, 0, 0, 0.025);
    --border-subtle: rgba(0, 0, 0, 0.1);
}
